/* Basic Style */
.page {
  font-family: "Lato", sans-serif;
  color: #333333;
  background-color: #f8f8f8;
}

.header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: "Fantasy", cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.add__input,
.task__name,
.task__input {
  display: inline-block;
  width: 56%;
  flex-grow: 1;
}

.add__row {
  display: flex;
}

.done__list,
.todo__list {
  margin: 0;
  padding: 0;
}

.task,
.todo__title,
.done__title {
  list-style: none;
}

.add__input,
.task__checkbox,
.task__input,
.task__edit-btn,
.task__delete-btn,
.add__btn {
  outline: none;
}

.add__btn,
.task__delete-btn,
.task__edit-btn {
  width: 60px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #888888;
  background: none;
  border: none;
  cursor: pointer;
}

.task__delete-btn:hover,
.add__btn:hover,
.task__edit-btn:hover {
  color: #3a3a3a;
}

/* Heading */
.done__title,
.todo__title,
.add__label {
  margin: 0;
  padding: 30px 0 10px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 2px solid #333333;
}

.add__input,
.task__input {
  height: 21px;
  margin: 0;
  padding: 0 9px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888888;
  background: #fff;
  border: 1px solid #dddddd;
  border-radius: 6px;
}

.add__input:focus,
.task__input:focus {
  color: #333333;
}

/* New Task */
.add__label {
  display: block;
  margin: 0 0 20px;
}

.add__input {
  width: 318px;
}

/* Task list */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.task > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}

.task__name {
  width: 226px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.task__input {
  width: 226px;
}

.task__delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.done__list .task__name {
  text-decoration: line-through;
  color: #888888;
}

/* Edit Task */
.task__input {
  display: none;
}

.task.task_edit .task__input {
  display: inline-block;
  width: 224px;
}

.task.task_edit .task__name {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}